.modal#jobuchiwake-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel JOB内訳更新
      .modal-body
        = simple_form_for :jobuchiwake, url: jobuchiwake_path(id: 0), method: :patch, :remote => true, html: { id: 'edit_jobuchiwake', role: :form, 'data-model' => 'jobuchiwake'} do |f|
          = f.input :ジョブ番号 do
            = f.input_field :ジョブ番号, readonly: true, class: 'form-control'
            .span.help-block
          = f.input :ジョブ内訳番号 do
            = f.input_field :ジョブ内訳番号, readonly: true, class: 'form-control'
            .span.help-block
          = f.input :受付日時 do
            =f.input_field :受付日時, as: :date_time_picker
            %span.help-block
          = f.input :件名 do
            = f.input_field :件名, class: 'form-control'
            .span.help-block
          = f.input :受付種別 do
            = f.input_field :受付種別, :collection => Jobuchiwake::UKETSUKESHUBETSU.map{ |k, v| [k + " : " + v, k] }, class: 'form-control'
            .span.help-block
          = f.input :完了区分, as: :boolean, checked_value: '1', unchecked_value: '0', class: 'form-control'
          = f.button :submit, class: 'btn btn-primary'