%tr{ id: "jobuchiwake_#{ jobuchiwake.id }" }
  %td= jobuchiwake.id
  %td= jobuchiwake.ジョブ番号
  %td= jobuchiwake.ジョブ内訳番号
  %td= jobuchiwake.jushinnichiji
  %td= jobuchiwake.件名
  %td= jobuchiwake.jushinshubetsu
  %td= jobuchiwake.kanryoukubun
  %td= jobuchiwake.delete_link
