= javascript_include_tag 'jobuchiwakes/index'
= provide(:title, 'JOB内訳マスタ')
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active JOB内訳マスタ

%table#jobuchiwakemaster.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}
  %thead
    %tr
      %th
      %th ジョブ番号
      %th ジョブ内訳番号
      %th 受付日時
      %th 件名
      %th 受付種別
      %th
  %tbody
    - @jobuchiwakes.each do |jobuchiwake|
      %tr
        %td= jobuchiwake.id
        %td= jobuchiwake.ジョブ番号
        %td= jobuchiwake.ジョブ内訳番号
        %td= jobuchiwake.受付日時&.strftime('%Y/%m/%d %H:%m')
        %td= jobuchiwake.件名
        %td= jobuchiwake.受付種別
        %td= link_to '', jobuchiwake, method: :delete, data: { confirm: '削除して宜しいですか？' } , class: "glyphicon glyphicon-remove text-danger remove-underline"
= render 'new'
= render 'edit'