= javascript_include_tag 'sagyoukubuns/index'
= provide(:title, '作業区分マスタ')
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 作業区分マスタ

%table#sagyoukubun.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}
  %thead
    %tr
      %th
      %th 作業区分
      %th 作業区分名称
      %th
  %tbody
    = render @sagyoukubuns
= render 'new'
= render 'edit'