<%= javascript_include_tag 'bashomasters/index' %>
<%provide(:title, (t 'title.bashomaster'))%>
<ol class="breadcrumb">
  <li><%= link_to (t 'title.menu'), main_path %></li>
  <li class="active"><%=(t 'title.bashomaster')%></li>
</ol>

<table id="bashomaster" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th><%=(t 'title.bashocode')%></th>
      <th><%=(t'title.bashomei')%></th>
      <th><%=(t'title.bashomeikana')%></th>
      <th>SUB</th>
      <th><%=(t'title.bashokubun')%></th>
      <th><%=(t'title.kaishamei')%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @bashomasters %>
  </tbody>
</table>
