= javascript_include_tag 'events/form'
= javascript_include_tag 'events/formjs'
= stylesheet_link_tag 'events'
- param = request['param'] || 'event'
- shain_id = request['shain_id'] || @event.社員番号
- date_param = request['start_at'] || @event.開始
= simple_form_for @event do |f|
  .col-lg-5.col-sm-6.col-lg-offset-1
    .row
      .col-lg-12.col-sm-12
        - if !request["shain_id"].nil?
          = f.input :社員番号, label: (t 'title.shainbangou'), input_html: {style: 'width:100px', value: request["shain_id"]}, hint:"#{Shainmaster.find(request["shain_id"]).try :氏名}", hint_html: {class: 'hint-shain-refer'}, readonly: true
        - else
          = f.input :社員番号, label: (t 'title.shainbangou'), input_html: {style: 'width:100px'}, hint:"#{@event.shainmaster.try :氏名}", hint_html: {class: 'hint-shain-refer'}, readonly: true
    .row
      .col-lg-4.col-sm-12
        = f.input :状態コード, label: (t 'title.joutai'), as: :search_field, hint:"#{@event.joutaimaster.try :状態名}", hint_html: {class: 'hint-joutai-refer'}
      .col-lg-3.col-sm-12
        = f.input (t 'title.kisha') do
          = f.select :有無, options_for_select(["帰社", "直帰", "連続"], :selected => @event.有無), {include_blank: true },{ class: 'form-control', style: 'width:100px'}
      .col-lg-3.col-sm-12
        = f.input :経費精算, label: (t 'title.keihiseisan'), input_html: {style: 'margin: 1px 0px 0px 1px'}, as: :boolean, boolean_style: :inline
    .row
      .col-lg-12.col-sm-12
        = f.input :場所コード, label: (t 'title.basho'), input_html: {style: 'width:100px'}, as: :search_history, hint:"#{@event.bashomaster.try :場所名}", hint_html: {class: 'hint-basho-refer'}
        %span.comment-text#999= t 'title.basho999'
    .row
      .col-lg-6.col-sm-12
        = f.input :JOB, input_html: {style: 'width:100px'}, as: :search_history, hint:"#{@event.jobmaster.try :job名}", hint_html: {class: 'hint-job-refer'}
    .row{style:"display: #{@event.jobmaster.try(:JOB引合区分) ? 'block' : 'none'};"}
      .col-lg-6.col-sm-12
        = f.input :JOB引合, label: '引合JOB番号', input_html: {style: 'width:100px'}, as: :search_field, hint:"#{@event.hikiaijobmaster.try :job名}", hint_html: {class: 'hint-hikiaijob-refer'}
    .row#uchiwake{style: 'display: ' + (@event.jobmaster&.JOB内訳区分 ? 'block' : 'none')}
      .col-lg-6.col-sm-12
        = f.input :JOB内訳番, input_html: {style: 'width:100px'}, as: :search_field, hint:"#{@event.jobuchiwake.try :件名}", hint_html: {class: 'hint-jobuchiwake-refer'}
      .col-lg-6.col-sm-12
        = f.input :作業区分 do
          = f.select :作業区分, Sagyoukubun.all.map { |sagyoukubun| ["#{ sagyoukubun.作業区分 } : #{ sagyoukubun.作業区分名称 }", sagyoukubun.作業区分] }, {include_blank: true}, {class: 'form-control', style: 'width:180px'}
    .row
      .col-lg-12.col-sm-12
        - if request["shain_id"]
          = f.input :所属コード, label: (t 'title.shozokucode'), input_html: { value: Shainmaster.find_by(id: request["shain_id"]).try(:所属コード) } , as: :hidden
        - else
          = f.input :所属コード, label: (t 'title.shozokucode'), input_html: { value: @event.shainmaster.try(:所属コード) } , as: :hidden
  .col-lg-4.col-sm-6
    = f.input (t 'title.kouteicode') do
      = f.select :工程コード, @kouteis.map { |k| [k.工程名, k.工程コード] }, {include_blank: true}, {class: 'form-control', style: 'width:180px'}
    = f.input :開始, label: (t 'title.kaishi'), as: :date_time_picker
    = f.input :終了, label: (t 'title.shyuuryou'), as: :date_time_picker
    = f.input :工数, label: (t 'title.koushuu'), input_html: {style: 'width:100px'}, hint: (t 'title.tani'), readonly: true
    = f.button :button, (t 'title.koushuusaikeisan'), type: :button, id: :koushuusaikeisan
    = f.input :comment, label: (t 'title.comment'), as: :string

    - if mode == 'new'
      = f.button :submit, t('helpers.submit.create'), class: 'btn btn-primary submit-button'
      = f.button :submit, '挿入登録', class: 'btn btn-primary'
      = link_to (t 'title.shutchou_ikkatsu'), shutchou_ikkatsu_new_events_path(param: param, shain_id: shain_id, start_at: date_param), class: 'btn btn-primary'
    - elsif mode == 'edit' && @event.計上 != '済'
      = f.button :submit,  (t 'helpers.submit.update'), class: 'btn btn-primary submit-button'
      = f.button :submit,  (t 'helpers.submit.create_clone'), class: 'btn btn-primary submit-button'
      = f.button :submit, '挿入登録', class: 'btn btn-primary'
      = link_to t('helpers.submit.destroy'), event_path(id: @event.id, param: param), method: :delete, data: { confirm: (t 'app.delete_confirm') }, class: 'btn btn-primary'
  - if mode == 'new'
    .col-lg-4.col-sm-6
    .row
      = f.input :shainmultiselect, label:'自分と他社員', as: :boolean, input_html: { checked: false }
      = f.button :button, '社員選択', type: :button, id: :shainsentaku

    = hidden_field_tag :kintai_daikyu
    = hidden_field_tag :old_joutai, @event.状態コード
    = hidden_field_tag :param, param
    = hidden_field_tag :shain_ids

= render 'share/basho_modal'
= render 'share/mybasho_modal'
= render 'share/job_modal'
= render 'share/myjob_modal'
= render 'share/joutai_modal'
= render 'share/daikyu_modal'
= render 'share/jobuchiwake_modal'
= render 'share/hikiaijob_modal'
= render 'share/shainsentaku_modal'
