<%= javascript_include_tag 'kouteimasters/index' %>
<%provide(:title, (t 'title.kouteimaster'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li class="active">工程マスタ</li>
</ol>
<table id="kouteimaster" class="kouteitable table table-striped table-bordered table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>所属コード</th>
      <th>所属名</th>
      <th>工程コード</th>
      <th>工程名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @kouteimasters %>
  </tbody>
</table>
<%= render 'new' %>
<%= render 'edit' %>
