= javascript_include_tag 'bunruis/index'
= provide(:title, (t 'title.bunrui'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.bunruimaster')

%table#bunrui_table.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th= (t 'title.bunruicode')
      %th= (t 'title.bunruimei')
      %th
      %th
  %tbody
    = render @bunruis
= render 'new'
= render 'edit'
