%tr{ id: "setsubiyoyaku_#{setsubiyoyaku.id}" }
  %td= setsubiyoyaku.id
  %td= setsubiyoyaku.開始
  %td= setsubiyoyaku.終了
  %td= setsubiyoyaku.shainmaster&.氏名
  %td= setsubiyoyaku.kaishamaster&.会社名 || setsubiyoyaku.相手先
  %td= setsubiyoyaku.用件
  %td= link_to_edit(edit_setsubiyoyaku_path(setsubiyoyaku))
  %td= link_to_delete(setsubiyoyaku)