= javascript_include_tag 'setsubiyoyakus/index'
= javascript_include_tag 'setsubiyoyakus/calendar'
= javascript_include_tag 'setsubiyoyakus/setsubiyoyaku'
= stylesheet_link_tag 'setsubiyoyakus'
= provide(:title, (t 'title.setsubiyoyaku'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active=t 'title.setsubiyoyaku'

= render 'header'
#setsubiyoyaku-timeline.spacer
%button.spacer.btn.btn-primary#show_table_button{type: :button}=t 'app.label.shousai_event'
#table-div
  %legend.spacer
  %table#setsubiyoyaku.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
    %thead
      %tr
        %th ID
        %th=t 'title.kaishijikoku'
        %th=t 'title.shyuuryoujikoku'
        %th=t 'title.yoyakusha'
        %th=t 'title.aitesaki'
        %th=t 'title.youken'
        %th
        %th
    %tbody
      = render @setsubiyoyakus
