= javascript_include_tag 'dengonkaitous/index'
= provide(:title, (t 'title.dengonkaitou'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.dengonkaitou')

%table#dengonkaitoumaster.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th ID
      %th= (t 'title.shuruimei')
      %th= (t 'title.bikou')
      %th
      %th
  %tbody
    = render @dengonkaitous
= render 'new'
= render 'edit'
